{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}| Shopping Bag{% endblock %}

{% block content %}
<!--Bag-Heading:-->
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="white-bg-heading">Your Shopping Bag:</h1>
        </div>
    </div>
</div>
<!--Shopping-Bag:-->
<div class="container my-5">
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col"><label for="id_qty_{{ item.item_id }}">Qty</label></th>
                                <th scope="col" class="text-end">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in bag_items%}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="bag-product-img" src="{{ item.product.product_image.url }}" alt="Image of a New York Cola product">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.product_name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control form-control-sm qty_input w-100 rounded-2" type="number"
                                                       name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                       data-item_id="{{ item.item_id }}"
                                                       id="id_qty_{{ item.item_id }}"
                                                >
                                                <button class="btn btn-outline-secondary qty-increment w-50 mt-1 rounded-start" type="button">
                                                    +
                                                </button>
                                                <button class="btn btn-outline-secondary qty-decrement w-50 mt-1 rounded-end" type="button">
                                                    -
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link btn custom-button-black-font btn-sm mt-2" aria-label="Update your Shopping Bag"><small>Update</small></a>
                                    <a class="remove-item btn custom-button-black-font-transparent btn-sm mt-2 float-right" id="remove_{{ item.item_id }}" aria-label="Remove Item from your Shopping Bag"><small>Remove</small></a>
                                </td>
                                <td class="py-3 text-end">
                                    <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-end">
                                <p><strong>Grand Total: €{{ total|floatformat:2 }}</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end">
                                <a href="{% url 'colas' %}" class="btn custom-button-black-font" aria-label="Go to all Products Page">Keep Shopping</a>
                                <a href="{% url 'checkout' %}" class="btn custom-button-black-font" aria-label="Go to Checkout Page">Secure Checkout</a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your bag is currently empty.</p>
                <a href="{% url 'colas' %}" class="btn custom-button-black-font" aria-label="Go to all Products Page">Buy Now!</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">

    // Update quantity on click
    $('.update-link').click(function(e) {
        e.preventDefault(); // Prevent the default form submission

        // Get the input element associated with the update link
        var inputField = $(this).siblings('.update-form').find('.qty_input');
        
        // Get the value of the input field
        var inputValue = inputField.val().trim();
        
        // Check if the input value is empty, not a number, or out of range
        if(inputValue === '' || isNaN(inputValue) || inputValue < 1 || inputValue > 99) {
            // Set a default value or handle the error as per your requirement
            inputField.val('1');
        } else {
            // If the input value is valid, submit the form
            var form = $(this).prev('.update-form');
            form.submit();
        }
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    // Increment quantity
    $('.qty-increment').click(function(e) {
        e.preventDefault(); // Prevent the default button behavior
        
        // Get the input element associated with the increment button
        var inputField = $(this).closest('.input-group').find('.qty_input');
        
        // Get the current value of the input field
        var currentValue = parseInt(inputField.val().trim());
        
        // Increment the value if it's within the range
        if(!isNaN(currentValue) && currentValue < 99) {
            inputField.val(currentValue + 1);
        }
    });

    // Decrement quantity
    $('.qty-decrement').click(function(e) {
        e.preventDefault(); // Prevent the default button behavior
        
        // Get the input element associated with the decrement button
        var inputField = $(this).closest('.input-group').find('.qty_input');
        
        // Get the current value of the input field
        var currentValue = parseInt(inputField.val().trim());
        
        // Decrement the value if it's within the range
        if(!isNaN(currentValue) && currentValue > 1) {
            inputField.val(currentValue - 1);
        }
    });
</script>
{% endblock %}