{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Checkout{% endblock %}

{% block content %}
<!--Checkout-Heading:-->
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="white-bg-heading">Checkout</h1>
        </div>
    </div>
</div>
<!--Checkout Form:-->
<div class="container my-5">
    <div class="row">
        <div class="col">
            <p>Please fill out the form below to complete your order!</p>
        </div>
    </div>
</div>
{% endblock %}