/*-------------------------------------------------------------------- General: */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*-------------------------------------------------------------------- Header: */

.header-color {
    background-color: red;
}

.logo-anchor {
    font-family: "Rubik", sans-serif;
    font-weight: 800;
}

.sidebar {
    background-color: red;
}

.menu-header-heading {
    font-family: "Rubik", sans-serif !important;
    color: white;
    font-weight: 800;
}

.header-icon {
    color: white;
}

/*-------------------------------------------------------------------- Footer: */

footer {
    background-color: red;
}

footer p {
    color: white;
    margin: 20px 0;
}

footer i {
    color: white;
}

footer i:hover {
    color: #0e0e0e;
}

/*-------------------------------------------------------------------- Media Query: */

@media only screen and (min-width: 992px) {
    .icon-margin-large-screens {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .logo-anchor {
        order: 1;
    }

    .icon-header-div {
        order: 1;
    }
}