/*-------------------------------------------------------------------- Header: */

.header-color {
    background-color: red;
}

.logo {
    max-width: 150px;
}

.sidebar {
    background-color: red;
}

.header-icon {
    color: white;
}

/*-------------------------------------------------------------------- Media Query: */

@media only screen and (min-width: 992px) {
    .icon-margin-large-screens {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .logo-anchor {
        order: 1;
    }

    .icon-header-div {
        order: 1;
    }
}