{% extends "base.html" %}
{% load static %}

{% block extra_title %}| All Colas{% endblock %}

{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col text-center">
                <h1 class="white-bg-heading">Our Products</h1>
            </div>
        </div>
        <div class="row mt-5">
            {% for cola in colas %}
            <div class="col mb-5 text-center">
                <div class="product-container">
                    <img class="product-image-size" src="{{ cola.product_image.url }}" alt="{{ cola.product_name }}">
                    <h5 class="white-bg-heading">{{ cola.product_name }}</h5>
                    <p class="card-text">{{ cola.price }} € / per can</p>
                    <a href="{% url 'product_page' cola.id %}" class="btn btn-primary custom-button-black-font">Buy Now!</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}