{% extends "base.html" %}
{% load static %}

{% block extra_title %}| All Colas{% endblock %}

{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col text-center">
                <h1 class="white-bg-heading">Our Products</h1>
            </div>
        </div>
        <div class="row mt-5">
            {% for cola in colas %}
            <div class="col mb-5 text-center">
                <div class="product-container">
                    <img class="product-image-size" src="{{ cola.product_image.url }}" alt="{{ cola.product_name }}">
                    <h5 class="white-bg-heading">{{ cola.product_name }}</h5>
                    <p class="card-text">{{ cola.price }} € / per can</p>
                    <a href="{% url 'product_page' cola.id %}" class="btn custom-button-black-font" aria-label="Go to Product Page">Buy Now!</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Transition-Section:-->
    <section class="transition-section">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FF0000" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,149.3C480,128,600,96,720,117.3C840,139,960,213,1080,218.7C1200,224,1320,160,1380,128L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </section>

    <!--Socials-Section:-->
    <section id="socials-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h2 class="red-bg-heading">Follow us on Social Media:</h2>
                    <p>Checkout our awesome Content from New York City & much more!</p>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to instagram in a new tab">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to twitter in a new tab">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to tiktok in a new tab">
                        <i class="bi bi-tiktok"></i>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to youtube in a new tab">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}