{% extends "base.html" %}
{% load static %}

{% block extra_title %}| {{ cola.product_name }}{% endblock %}

{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 col-xs-12 text-center">
                <img class="product-image-size" src="{{ cola.product_image.url }}" alt="{{ cola.product_name }}">
            </div>
            <div class="col-md-6 col-xs-12">
                <h1 class="white-bg-heading">{{ cola.product_name }}</h1>
                <p><strong>{{ cola.price }} € / per can</strong></p>
                <p>{{ cola.product_description }}</p>
                <details>
                    <summary>Ingredients</summary>
                    <p>{{ cola.ingredients }}</p>
                </details>
                <hr>
                <details>
                    <summary>Nutrition Facts</summary>
                    <p>{{ cola.nutrition_facts }}</p>
                </details>
                <hr>
                <h2 class="white-bg-heading">Order here:</h2>
                <form class="form" action="{% url 'add_items' cola.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Choose your pack size:</strong></p>
                            <select class="form-select form-select mb-3" aria-label="Large select example">
                                <option selected>Click here to choose</option>
                                <option value="1">6-Pack</option>
                                <option value="2">12-Pack</option>
                                <option value="3">21-pack</option>
                            </select>
                            <p class="mt-3"><strong>Quantity of Packs:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ cola.id }}" id="id_qty_{{ cola.id }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <input type="submit" class="btn btn custom-button-black-font mt-3" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}