{% extends "base.html" %}
{% load static %}

{% block extra_title %}| {{ cola.product_name }}{% endblock %}

{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 col-xs-12 text-center">
                <img class="product-image-size" src="{{ cola.product_image.url }}" alt="{{ cola.product_name }}">
            </div>
            <div class="col-md-6 col-xs-12">
                <h1 class="white-bg-heading">{{ cola.product_name }}</h1>
                <p><strong>{{ cola.price }} €</strong></p>
                <p>{{ cola.product_description|safe|linebreaksbr }}</p>
                <details>
                    <summary>Ingredients</summary>
                    <p>{{ cola.ingredients|safe|linebreaksbr }}</p>
                </details>
                <hr>
                <details>
                    <summary>Nutrition Facts</summary>
                    <p>{{ cola.nutrition_facts|safe|linebreaksbr }}</p>
                </details>
                <hr>
                <h2 class="white-bg-heading">Order here:</h2>
                <form class="form" action="{% url 'add_items' cola.id %}" method="POST">
                    {% csrf_token %}
                        <div class="col-12">
                            <label class="mt-3" for="quantity"><strong>Quantity:</strong></label>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary qty-decrement" type="button">
                                        -
                                    </button>
                                    <input class="form-control qty_input" type="number" name="quantity" id="quantity" value="1" min="1" max="99">
                                    <button class="btn btn-outline-secondary qty-increment" type="button">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn custom-button-black-font mt-3" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                {% if request.user.is_superuser %}
                    <hr>
                    <p><strong>Admins Only:</strong></p>
                    <a class="btn custom-button-black-font" href="{% url 'edit_cola' cola.id %}"><i class="bi bi-pencil-square"></i> Edit Product</a>
                    <a class="btn custom-button-black-font" href="{% url 'delete_cola' cola.id %}"><i class="bi bi-exclamation-triangle-fill"></i> Delete Product</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!--Transition-Section:-->
    <section class="transition-section">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FF0000" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,149.3C480,128,600,96,720,117.3C840,139,960,213,1080,218.7C1200,224,1320,160,1380,128L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </section>

    <!--Socials-Section:-->
    <section id="socials-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h2 class="red-bg-heading">Follow us on Social Media:</h2>
                    <p>Checkout our awesome Content from New York City & much more!</p>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to instagram in a new tab">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to twitter in a new tab">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to tiktok in a new tab">
                        <i class="bi bi-tiktok"></i>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="This link redirects to youtube in a new tab">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'colas/js/colas.js' %}"></script>
{% endblock %}