{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Contact{% endblock %}

{% block content %}

<!--Form-Section:-->
<section id="contest-form-section">
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="white-bg-heading">
                    Contact Us:
                </h2>
                <p>
                    Please fill out the form below to contact us!
                </p>
                <small>
                    Note: The more accurate you are, the better we can help!
                </small>
            </div>
            <div class="col-12">
                <form class="w-75 m-auto" action="{% url 'contact_page' %}" method="POST" id="contact-entry-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn custom-button-black-font mt-3">Send!</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Transition-Section:-->
<section class="transition-section">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FF0000" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,149.3C480,128,600,96,720,117.3C840,139,960,213,1080,218.7C1200,224,1320,160,1380,128L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>

{% endblock %}